.elementor-panel #elementor-panel-category-awe_elementor .elementor-element,
.elementor-panel #elementor-panel-elements .happy-addons-addon {
	-webkit-transition: background-image .3s;
	        transition: background-image .3s;
}
.elementor-panel #elementor-panel-category-awe_elementor .elementor-element .icon,
.elementor-panel #elementor-panel-category-awe_elementor .elementor-element .title,
.elementor-panel #elementor-panel-elements .happy-addons-addon .icon,
.elementor-panel #elementor-panel-elements .happy-addons-addon .title {
	background-image: -webkit-linear-gradient(315deg, #562dd4 25%, #562dd4 100%);
	background-image:         linear-gradient(135deg, #562dd4 25%, #562dd4 100%);
	-webkit-background-clip: text;
	-webkit-transition: background-image .2s, color .2s;
	        transition: background-image .2s, color .2s; 

	-webkit-text-fill-color: transparent;
}
.elementor-panel #elementor-panel-category-awe_elementor .elementor-element:hover,
.elementor-panel #elementor-panel-category-awe_elementor .elementor-element:focus,
.elementor-panel #elementor-panel-elements .happy-addons-addon:hover,
.elementor-panel #elementor-panel-elements .happy-addons-addon:focus {
	background-image: -webkit-linear-gradient(315deg, #e2498a 0%, #562dd4 100%);
	background-image:         linear-gradient(135deg, #e2498a 0%, #562dd4 100%);
}
.elementor-panel #elementor-panel-category-awe_elementor .elementor-element:hover .icon,
.elementor-panel #elementor-panel-category-awe_elementor .elementor-element:hover .title,
.elementor-panel #elementor-panel-category-awe_elementor .elementor-element:focus .icon,
.elementor-panel #elementor-panel-category-awe_elementor .elementor-element:focus .title,
.elementor-panel #elementor-panel-elements .happy-addons-addon:hover .icon,
.elementor-panel #elementor-panel-elements .happy-addons-addon:hover .title,
.elementor-panel #elementor-panel-elements .happy-addons-addon:focus .icon,
.elementor-panel #elementor-panel-elements .happy-addons-addon:focus .title {
	background: transparent;
	color: #fff;

	-webkit-text-fill-color: initial;
}

.elementor-panel .elementor-control-_section_happy_effects .elementor-panel-heading-toggle,
.elementor-panel .elementor-control-_section_happy_effects .elementor-panel-heading-title {
	color: #562dd4;
}

.elementor-control-ha_floating_fx_translate_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-lower:after,
.elementor-control-ha_floating_fx_rotate_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-lower:after,
.elementor-control-ha_floating_fx_scale_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-lower:after {
	left: -5px;
	box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, .1);
}

.elementor-control-ha_floating_fx_translate_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-upper:after,
.elementor-control-ha_floating_fx_rotate_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-upper:after,
.elementor-control-ha_floating_fx_scale_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-upper:after {
	left: 5px;
	box-shadow: 2px -2px 3px 0 rgba(0, 0, 0, .1);
}

.elementor-control-ha_floating_fx_translate_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-upper .noUi-tooltip,
.elementor-control-ha_floating_fx_rotate_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-upper .noUi-tooltip,
.elementor-control-ha_floating_fx_scale_toggle + .elementor-controls-popover .elementor-control-type-slider--handles-range .elementor-slider .noUi-handle-upper .noUi-tooltip {
	top: auto;
	bottom: calc(100% + 5px); 
	left: 100%;
}
