
.noti__container {
    display: table-cell;
    vertical-align: middle;
}

.noti__cell{
  display:inline-block;
}

.add-margin{
  margin-top:20px;
}

.noti__svg{
  fill:#fff;
}

.noti {
  text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
}


.noti:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.noti__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.noti__message {
    font-size: 14px;
    margin-top: 0;
  margin-bottom: 0;
    color: #878787;
}

.noti__content{
  padding-left:70px;
  padding-right:60px;
}

.noti__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
  fill:#878787;
    transform: translateY(-50%);
}


.noti--green:before{
  background-color:#2BDE3F;
}

.noti--blue .noti__icon{
  background-color:#1D72F3;
}

.noti--blue:before{
  background-color:#1D72F3;
}

.noti--yellow .noti__icon{
  background-color:#FFC007;
}

.noti--yellow:before{
  background-color:#FFC007;
}

.Message {
  display: table;
  position: relative;
  margin: 40px auto 0;
  width: 500px;
  background-color: #0074d9;
  color: #fff;
  transition: all 0.2s ease;
}
.Message.is-hidden {
  opacity: 0;
  height: 0;
  font-size: 0;
  padding: 0;
  margin: 0 auto;
  display: block;
}
.Message--orange {
  background-color: #f39c12;
}
.Message--red {
  background-color: #ff4136;
}
.Message--green {
  background-color: #2ecc40;
}
.Message-icon {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  padding: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.Message-icon > i {
  width: 20px;
  font-size: 20px;
}
.Message-body {
  display: table-cell;
  vertical-align: middle;
  padding: 30px 20px 30px 10px;
}
.Message-body > p {
  line-height: 1.2;
  margin-top: 6px;
}
.Message-button {
  position: relative;
  margin: 15px 5px -10px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'Source Sans Pro';
  color: #fff;
  outline: none;
  cursor: pointer;
}
.Message-button:hover {
  background: rgba(0, 0, 0, 0.3);
}
.Message-button:active {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px rgba(0, 0, 0, 0.4);
  top: 3px;
}
.Message-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  right: 5px;
  top: 5px;
  opacity: 0;
  cursor: pointer;
}
.Message:hover .Message-close {
  opacity: 1;
}
.Message-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.u-italic {
  font-style: italic;
}
.Message-button:hover {
  color:#fff;
  
}
.Message-button {
  text-decoration: none !important;
}


.neon {
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
  background: black;
}
.text {
  background-color: black;
  color: white;
  font-size: 180px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  user-select: none;
}
.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}
.gradient {
  position: absolute;
  background: linear-gradient(45deg, red, gold, lightgreen, gold, red);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}
.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, white, transparent 25%) center / 25% 25%, radial-gradient(circle, white, black 25%) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}
@keyframes light {
  to {
    transform: translate(50%, 50%);
 }
}



@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0) translateY(50%);
 }
  90% {
    transform: scale(1.05);
 }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
 }
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  position: relative;
  width: 20em;
  background-color: #292929;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, .2);
}
.card__link {
  display: block;
  padding: 1em;
  text-decoration: none;
}
.card__icon {
  position: absolute;
  width: 4em;
  height: 4em;
  transition: all 0.3s ease-in-out;
}
.card:hover .card__icon {
  opacity: 0;
  transform: scale(0);
}
.card__media {
  padding: 2em 0;
}
.card__media svg path {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform-origin: center center;
}
.card:hover .card__media svg path {
  animation: fadeInScale 0.3s ease-in-out forwards;
}
.card:hover .card__media svg path:nth-child(2) {
  animation-delay: 0.1s;
}
.card:hover .card__media svg path:nth-child(3) {
  animation-delay: 0.2s;
}
.card__header {
  position: relative;
}
.card__header-title {
  margin: 0 0 0.25em;
  color: white;
}
.card__header-meta {
  margin: 0;
  color: #999;
}
.card__header-icon {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1em;
  transform: translateX(-20%);
  width: 2em;
  height: 2em;
  transition: all 0.3s ease-in-out;
}
.card:hover .card__header-icon {
  opacity: 1;
  transform: translateX(0);
}

.card2 img {
  max-width: 100%;
  width:400px;
  height: 320px;
}

.card2 {
  position: relative;
  background: #333;
  width: 400px;
  height: 75vh;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.card2__image-container {
  margin: -2rem -2rem 1rem -2rem;
}
.card2__line {
  opacity: 0;
  animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}
.card2__image {
  opacity: 0;
  animation: ImageFadeIn 0.8s 1.4s forwards;
}
.card2__title {
  color: white;
  margin-top: 0;
  font-weight: 800;
  letter-spacing: 0.01em;
}
.card2__content {
  margin-top: -1rem;
  opacity: 0;
  animation: ContentFadeIn 0.8s 1.6s forwards;
}
.card2__svg {
  position: absolute;
  left: 0;
  top: 115px;
}
@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
    stroke: #fff;
 }
  50% {
    opacity: 1;
    d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
    stroke: #888bff;
 }
  100% {
    opacity: 1;
    d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
    stroke: #545581;
 }
}
@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
 }
  100% {
    transform: translateY(0);
    opacity: 1;
 }
}
@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
 }
  50% {
    opacity: 1;
    filter: blur(2px);
 }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
 }
}


.awe-text-ani p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


.awe-text-ani2 {
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.awe-text-ani2 h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

.quote-con {
  background-color: red;
}
.quote1 {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.4s;
  text-align: center;
}
.quote1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid #2b87dc;
  border-left: 20px solid #2b87dc;
  box-sizing: border-box;
}
.quote1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid #2b87dc;
  border-right: 20px solid #2b87dc;
  box-sizing: border-box;
}
.quote1 .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: #fff;
  color: #2c3a47;
}
.quote1 .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.quote1 .text {
  position: absolute;
  top: 30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  background-color: #2c3a47;
  border-radius: 3px;
  transition: 0.4s;
}
.quote1 .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}
.quote1 .text div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 1.5;
  box-sizing: border-box;
}
.quote1 .text div h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.quote1 .text div p {
  font-size: 15px;
}
.quote1:hover {
  transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}
.quote1:hover .text {
  transform: rotateY(20deg) skewY(-3deg);
}

/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  height: 100vh;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
   position: relative;
   font-family: 'Barlow Condensed', sans-serif;
   max-width: 620px;
   align-self: center;
}

/* Blockquote header */
.blockquote h1 {
   font-family: 'Abril Fatface', cursive;
   position: relative; /* for pseudos */
   color: #e74848;
   font-size: 2.8rem;
   font-weight: normal;
   line-height: 1;
   margin: 0;
   border: 2px solid #fff;
   border: solid 2px;
   border-radius:20px;
   padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
   content:"";
   position: absolute;
   border: 2px solid #e74848;
   border-radius: 0 50px 0 0;
   width: 60px;
   height: 60px;
   bottom: -60px;
   left: 50px;
   border-bottom: none;
   border-left: none;
   z-index: 3; 
}

.blockquote h1:before {
   content:"";
   position: absolute;
   width: 80px;
   border: 6px solid #fff;
   bottom: -3px;
   left: 50px;
   z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
   .blockquote h1 {
       font-size: 3rem;
       line-height: 1.2;
  }

}

/* Blockquote subheader */
.blockquote h4 {
   position: relative;
   color: #251d1d;
   font-size: 1.3rem;
   font-weight: 400;
   line-height: 1.2;
   margin: 0;
   padding-top: 15px;
   z-index: 1;
   margin-left:150px;
   padding-left:12px;
}
.blockquote  .changecolor {
  color: #251d1d;
}

.blockquote h4:first-letter {
 margin-left:-12px;
}

.badge {
  position: relative;
  letter-spacing: 0.08em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
  transform: rotate(-14deg);
  text-align: center;
  filter: drop-shadow(0.25em 0.7em 0.95em rgba(0, 0, 0, 0.8));
 /* min-size + (max-size - min-size) * ( (100vw - min-width) / ( max-width - min-width) ) */
  font-size: calc(11px + 14 * ( (100vw - 420px) / ( 860) ));
}
@media screen and (max-width: 420px) {
  .badge {
    font-size: 11px;
 }
}
@media screen and (min-width: 1280px) {
  .badge {
    font-size: 25px;
 }
}
.badge::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  background: #111;
  opacity: 0.8;
  transition: opacity 0.3s linear;
}
.badge:hover {
  color: #fff;
  text-decoration: none;
  transform: rotate(-10deg) scale(1.05);
}
.badge:hover::before {
  opacity: 0.9;
}
.badge svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 0;
  width: 10em;
  height: 10em;
}
.badge span {
  display: block;
  background: #111;
  border-radius: 0.4em;
  padding: 0.4em 1em;
  z-index: 1;
  min-width: 11em;
  border: 1px solid;
  text-transform: uppercase;
}



.btn1 .button {
  transition: all 0.3s ease-in-out;
}
.btn1 .button {
  padding: 20px;
  border-radius: 50px;
  background: #000000;
  box-shadow: 0 20px 30px -6px rgba(171, 88, 219, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  text-align: center;
}


.btn1 .button:hover {
  transform: translatey(10px);
  box-shadow: none;
}
.btn1 .button:active {
  opacity: 0.5;
}
